.navegacao{
    padding-left: 20px;
    display: flex;
    gap: 2.2rem;
    flex-direction: row;
    align-items: center;
    .navegacao__lista{
        display: flex;
        flex-direction: row;
        gap: 2.2rem;
        .navegacao__item{
            color: var(--escuro);
            font-weight: var(--peso-titulo);
            font-size: var(--tamanho-texto-destaque);
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                color:#0e131a ;
            }
        }
    }
}

.titulo__formulario{
    margin: 3.125rem;
    font-size: var(--tamanho-titulo);
}

.cartao{
    display: grid;
    grid-template-columns: 
    [left] 1fr
    [right] 1fr
    ;
    background-image: url(/assets/img/Ilustracao\ cadastro.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 20%;
    
}


.cadastro{
    background-image: url(/assets/img/ilustracao\ cadastro\ produto.png);
}

.cadastro-cartao{
    background-image: url(/assets/img/ilustracao\ conclusao.png);
    background-size: contain;
    position: relative;
    height: 70vh;
}


form{
    grid-column: right;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    fieldset{
        margin-block-end: 50px;
    
        .formulario__legenda{
            font-size: var(--tamanho-subtitulo);
            margin: 30px;
        }

        .input-container{

            font-weight: var(--fonte-peso-input);
            position: relative;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-sizing: border-box;


            .input{
                border: none;
                width: 500px;
               padding-block: 1rem;
               padding-left: .6rem;
               padding-right: 1rem;
               border-bottom: 1px #66ADED solid;
               box-sizing: border-box;
              }
            
            .input::placeholder{
                font-size: var(--tamanho-placeholder);    
                visibility: hidden;
                color: #00000000;
            }
        
            .input:focus {
                outline: none;
            }

            .input-label {
                position: absolute;
                top: 1.375rem;
                left: 0.5rem;
                font-size: var(--fonte-tamanho-input-label);
            
                transition: all .25s;
            }
            
            .input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
                font-size: 0.875rem;
                top: 0.25rem;
                transition: all .25s;
            }
            
    
    

        }

        
        
    }
    

}

.input-mensagem-erro{
    display: none;
}

.bloco{
    grid-column: right;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.cadastro-cartao__icone-concluido {
    display: block;
    width: 4rem;
    height: 4rem;

    background-image: url(/assets/img/checkmark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 5%;
    position: relative;
}